.game-over {
    display: block;
    max-height: 220px;
    overflow-y: auto;
}

.go-incorrect-list {
    margin: 10px auto;
}

.go-incorrect-list li {
    font-size: 15px;
}

.go-list-title {
    margin: 10px auto;
    font-size: 15px;
}

li>span,
li>span>span {
    display: inline-block;
}

span.go-question {
    width: 40px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
    color: #212121;
}

span.go-your-answer-label {
    width: 170px;
    text-align: left;
}
span.go-your-answer-value {
    width: 42px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: #E3412C;
}

span.go-correct-answer-label {
    width: 130px;
    text-align: left;
    padding-left: 5px;
}

span.go-correct-answer-value {
    width: 42px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    color: green;
}



.congratulation {
    font-size: 20px;
    width: 300px;
    margin: 0 auto;
}
