.mood {
    margin: 15px auto;
}

.message {
    font-size: 44px
}

.correct-answer {
    color: green;
    font-size: 22px;
    font-weight: bold;
}
span.answer {
    color: green;
    font-size: 32px;
    display: inline-block;
}