.game {
    width: 80%;
    margin: 0 auto;
    min-width: 320px;
}

.card {
    position: relative;
    background-color: #fff;
    width: 320px;
    box-shadow: 2px 2px 10px -1px #212121;
    margin: 0 auto;
}

.distractors {
    margin-top: 8px;
}

.distractors button {
    background-color: #fff;
    width: 60px;
    height: 64px;
    margin: 0 2px;
    box-shadow: 2px 2px 10px -1px #212121;
}
.correct .distractors button,
.incorrect .distractors button {
    cursor: not-allowed;
    color: silver;
}
.distractors button:hover {
    background-color: #F57C00;
}
.correct .distractors button:hover,
.incorrect .distractors button {
    background-color: #fff;
}

.correct.answer-0 #answer-0,
.correct.answer-0 button#answer-0:hover,
.correct.answer-1 #answer-1,
.correct.answer-1 button#answer-1:hover,
.correct.answer-2 #answer-2,
.correct.answer-2 button#answer-2:hover,
.correct.answer-3 #answer-3,
.correct.answer-3 button#answer-3:hover,
.correct.answer-4 #answer-4,
.correct.answer-4 button#answer-4:hover {
    background-color: green;
}


.incorrect.answer-0 #answer-0,
.incorrect.answer-0 button#answer-0:hover,
.incorrect.answer-1 #answer-1,
.incorrect.answer-1 button#answer-1:hover,
.incorrect.answer-2 #answer-2,
.incorrect.answer-2 button#answer-2:hover,
.incorrect.answer-3 #answer-3,
.incorrect.answer-3 button#answer-3:hover,
.incorrect.answer-4 #answer-4,
.incorrect.answer-4 button#answer-4:hover {
    background-color: red;
}








.question {
    font-size: 16rem;
}

.progress {
    font-size: 1.2rem;
}

.bl {
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.tr {
    position: absolute;
    right: 8px;
    top: 8px;
}