.game {
    width: 80%;
    margin: 0 auto;
    min-width: 320px;
}

.card {
    position: relative;
    background-color: #fff;
    width: 320px;
    min-height: 260px;
    box-shadow: 2px 2px 10px -1px #212121;
    margin: 0 auto;
    margin-top: 5rem;
}

.question {
    font-size: 16rem;
}

.progress {
    font-size: 1.2rem;
}

.bl {
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.bl-edge {
    position: absolute;
    left: 0;
    bottom: 0;
}

.tr {
    position: absolute;
    right: 8px;
    top: 8px;
}

.tr-edge {
    position: absolute;
    right: 0;
    top: 0;
}

.score {
    font-size: 2.5rem;
    font-weight: 900;
    color: orange;
}

.progress-bar {
    background-color: orange;
    height: 0.8rem;
    width: 100%;
    display: inline-block;
}

.bar {
    background-color: /* $primary-color */
    #388E3C;
    height: 100%;
}

.popup-buttons button {
    width: 15rem;
    padding: 0.8rem;
    display: inline-block;
    height: 100%;
}

.popup-buttons button span.label {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem;
    margin-right: 0.3rem;
}

.popup-buttons button svg.icon {
    display: inline-block;
    vertical-align: middle;
    width: 3rem;
    height: 3rem;
}


/* Hint button */

.hint button {
    box-shadow: rgb(62, 115, 39) 0px 10px 14px -7px;
    background: linear-gradient(rgb(119, 181, 90) 5%, rgb(114, 179, 82) 100%) rgb(119, 181, 90);
    border-radius: 4px;
    border: 1px solid rgb(75, 143, 41);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.4rem 1rem;
    text-decoration: none;
    text-shadow: rgb(91, 138, 60) 0px 1px 0px;

    min-height: 2.5rem;
    font-size: 1.2rem;
    margin: 0.8rem auto;
}
.hint button:hover {
    box-shadow: none;
}
.hint button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
    border-color: #212121;
    background: none;
    background-color: #3f3f3f;
    text-shadow: none;
    box-shadow: none;
}