.home {
    width: 80%;
    margin: 0 auto;
    min-width: 320px;
}


/*
.wrapper {}
*/

.start-button {
    position: relative;
    background-image: url(../../images/start-test-button.png);
    background-repeat: no-repeat;
    display: block;
    margin: 30px auto;
    width: 192px;
    height: 132px;
    border-radius: 0;
}
button.start-button:disabled {
    opacity: 0.5;
    cursor: default;
}

.start-button .button-content-wrapper {
    position: relative;
    display: block;
}

.start-button .button-content-wrapper>* {
    display: inline-block;
    font-size: 14px;
}

.start-button .button-content-wrapper .selection-syllabary,
.start-button .button-content-wrapper .button-label {
    display: block;
}

.start-button .stats {
    display: block;
}

.start-button .stats {
    position: absolute;
    width: 100%;
    font-size: 12px;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

.selection-connect {
    margin-right: 4px;
}

.selection-writing {
    margin-right: 4px;
}

/* .selection-sufix {} */

.selection-syllabary {
    margin: 4px;
}

.start-button .button-label {
    font-size: 18px;
    margin: 15px 5px;
    font-weight: bold;
    color: #E3412C;
}