.home {

    width: 80%;
    margin: 0 auto;
    min-width: 320px;

}
/*
.wrapper {}
*/
.selection-stats {
    display: block;
}

.start-button {

    background-image: url(../../images/start-test-button.png);

    display: block;
    
    margin: 30px auto;
    width: 192px;
    height: 132px;
    border-radius: 0;
}
.start-button > * {
    display: block;
}

.start-button .button-label {
    font-size: 1.8rem;
}